/**/*.iml
/**/.idea/
/**/target/
/**/.cache-loader
/.history/
/**/.project
/**/.classpath
/**/.factorypath
/**/.settings/
/**/.vscode/
/**/package-lock.json
/**/document-engine-test.properties
/**/.aws-sam/
